.layout { width: 100%;
  &--default header { background-color: darkcyan; }
  &--checkout header { background-color: darkmagenta; }
  &--custom header { background-color: darkkhaki; }
  header { width: 100%; padding: 1rem;
    h1 { font-size: 1rem; margin-right: 1rem; color: black; padding: .5rem; }
    nav { display: inline-block; 
      a { padding: .5rem; color: white;
        &:hover, &focus { text-decoration: underline; }
      }
    }
  }
}

p { font-size: 2rem; padding: 1rem; }