* { margin: 0; padding: 0; box-sizing: border-box; }
body { width: 100%; background-color: white; font-family: $font; font-size: 16px; font-weight: 300; }
a { display: inline-block; text-decoration: none; color: black; }
