@mixin ipod {
  @media screen and (max-width: 320px) { @content; }
}
@mixin tablet {
  @media screen and (min-width: 760px) { @content; }
}
@mixin desk {
  @media screen and (min-width: 1024px) { @content; }
}
@mixin retina {
  @media screen and (min-width: 1600px) { @content; }
}